// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  background-color: #fff;
  color: #8dc21f;
  font-family: verdana, arial, helvetica, sans-self;
  font-size: 50px;
  line-height: 10px;
}

header {
  background-color: black;
  color: white;
}